---
import Layout from "../layouts/Layout.astro";
import Anime from "../pages/animes/Anime.astro";

// Paginación
const pageSize = 12;
const page = 1;


const url = `${import.meta.env.PUBLIC_ANIMEAPI}/animes?populate=portada&pagination[page]=${page}&pagination[pageSize]=${pageSize}&sort[createdAt]=desc`;
const response = await fetch(url);
const { data } = await response.json();

---

<Layout title="Inicio">
	<main>
		<div class="grid-container">
		  {data.map((anime) => (
			<Anime
			  titulo={anime.attributes.Titulo}
			  url={anime.attributes.url}
			  estado={anime.attributes.estado}
			  portada={anime.attributes.portada.data.attributes.url}
			  sinopsis={anime.attributes.sinopsis}
			  
			/>
		  ))}	
		</div>
		<div class=" flex items-center justify-center">
			<div class="space-x-4">
				<a href="animes/2" class="bg-slate-900 text-white m-2 py-2 px-4 rounded">Siguiente</a>
			</div>
		</div>
		{/* Más entradas aquí */}
	  </main>
  
</Layout>
<style>
	.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;
    padding: 30px;
    /* Agregar espacio alrededor de los contenedores */
    box-sizing: border-box;
    /* Incluir el relleno en el cálculo del tamaño total */
}
</style>
